# Ignore virtual environment
venv/
ENV/
env/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore model files if you don’t want them on GitHub
*.pkl

# Ignore Streamlit internal files
.streamlit/

# Ignore VSCode settings
.vscode/
